$color-light:#aaaaaa;
$color-dark:#111111;
$color-accent: #474799;

@use "fonts";
@use 'sass:color';

@mixin headings {
    h1, h2, h3, h4, h5, h6 {
      @content;
    }
}

html {
    color: $color-light;
    background-color: $color-dark;
    font-family: Hauora;
	font-size: 20px;
}

code {
    font-family: Fliege;
}

a{
    text-decoration-line: underline;
    &:link, &:visited{
        color: $color-light;
        text-decoration-color: color.adjust($color-dark, $lightness: 20%);
    }
    &:hover{
        text-decoration-color: $color-light;
    }
}


header {
    height: 115px;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 70%,
        0 100%
    );
    background-color: color.adjust($color-dark, $lightness: 5%);
    
    .scroll-container {
        overflow-x: scroll;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* IE 10+ */

        &::-webkit-scrollbar {
            background: transparent; /* Chrome/Safari/Webkit */
            width: 0px;
        }
    }
    
    .centerer {
        display:flex;
        flex-flow: row nowrap;
        align-content: flex-center;
    }
    
    .title {
        font-size: 72px;
        font-family: Moxiefully;
        display: grid;
        flex-grow: 1;
        
        a {
            grid-area: 1 / 1 / 2 / 2;
            margin: 0px;
            padding: 20px;
            color: $color-light;
            &:hover{
              color: $color-light;
            }
            text-decoration-line: none;
        }
        .bg1 {
            padding-left: 22px;
            color: $color-dark;
        }
        .bg2 {
            padding-left: 26px;
            color: $color-accent;
        }
    }
    
    nav {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 50px;
        font-size: 20px;
        display:flex;
        flex-flow: row nowrap;
        .header-link {
            rotate: -40deg;
            margin-right:-5px;
            width:50px;
        }
        p {
            font-weight: bold;
        }
        a {
            &:link, &:visited{
                color: $color-light;
                text-decoration: none;
                text-shadow: 2px 2px $color-accent;
            }
            &:hover{
                text-decoration-color: $color-light;
                text-shadow: 4px 4px $color-accent;
            }
        }
    }

}

body.main {
    margin: 0;
    align-content: center;
    
    .squish-protect {
        margin: 10px;
    }

    .content {
        border: 5px solid color.adjust($color-dark, $lightness: 5%);
        border-radius: 10px 20px 40px 20px;
        padding-left:20px;
        padding-right:20px;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        max-width: 1000px;
        
        @include headings{
            padding-left: 10px;
            padding-right: 10px;
            font-weight: lighter;
            border-bottom: 3px solid color.adjust($color-dark, $lightness: 5%);
            margin-top: 0.3em;
            margin-bottom: 0.3em;
        }
        h1, h2, h3 {
            font-family: LTSaeada;
        }
        h4, h5, h6 {
            font-family: Hauora;
        }
        
        p {
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 0.3em;
            margin-bottom: 0.3em;
        }

        .post-title {
            border: none;
            margin-bottom: -5px;
        }
        .post-author {
            padding-left:12px;
            margin-bottom: 0px;
        }
    }  
    
    hr.end-line {
        border-color: color.adjust($color-accent, $lightness: -15%);
        border-style: dashed;
    }

    hr.post-divider {
        border-color: color.adjust($color-dark, $lightness: 5%);
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    a.post-list-title {
        &:link, &:visited{
            color: $color-light;
            text-decoration-color: $color-dark;
        }
        &:hover{
            text-decoration-color: $color-light;
        }
    }
    
    table {
        margin-right: auto;
        margin-left: auto;
        padding: 0;
        width: 97%;
    }
}
  