<!doctype html>
<html lang="en">
  <head>
    <meta
      charset="utf-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    >
    <title>{{ title }} | arclyn.net</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
  </head>
  <header class="site-header">
    <div class="scroll-container">
      <div class="centerer">
        <div class="title">
          <a class="bg2">arclyn.net</a>
          <a class="bg1">arclyn.net</a>
          <a href="/">arclyn.net</a>
        </div>    
      </div>
      <nav>
        <a href="/posts">
          <p class="header-link">Posts</p>
        </a>
        <a href="/hire-me">
          <p class="header-link">Résumé</p>
        </a>
        <a href="https://bsky.app/profile/arclyn.bsky.social" target="_blank">
          <p class="header-link">Bluesky</p>
        </a>
        <a href="https://github.com/ArcLyn64" target="_blank">
          <p class="header-link">Github</p>
        </a>
        <a href="https://www.youtube.com/@ArcLyn" target="_blank">
          <p class="header-link">YouTube</p>
        </a>
      </nav>
    </div>
  </header>
  <body class="main">
    <div class="squish-protect">
      <div class="content">
        {{content}}
      </div>
    </div>
  </body>
</html>