<script src="assets/js/footer.js"></script>
<div class="site-footer">
  <a href={{ site.youtube_link }}>
    <div class="link" onmouseenter="grow(this)" onmouseleave="shrink(this)">
      YouTube: {{ site.youtube_username }}
    </div>
  </a>
  <a href={{ site.github_link }}>
    <div class="link" onmouseenter="grow(this)" onmouseleave="shrink(this)">
      GitHub: {{ site.github_username }}
    </div>
  </a>
  <a href={{ site.twitter_link }}>
    <div class="link" onmouseenter="grow(this)" onmouseleave="shrink(this)">
      Twitter: {{ site.twitter_username }}
    </div>
  </a>
</div>
