<div class="site-header">
  <div class="header-border"></div>
  <div class="header-content">
    <a class="outbound" href={{ site.github_link }}>
      GitHub
    </a>
    <a {% if page.url == "/resume.html" %}class="current"{% else %}class="not-current"{% endif %} href="/resume.html">
      Résumé
    </a>
    <a class="home-link" href="/"> ArcLyn64 </a>
    <a {% if page.url == "/posts.html" %}class="current"{% else %}class="not-current"{% endif %} href="/posts.html">
      Blog
    </a>
    <a class="outbound" href={{ site.youtube_link }}>
      YouTube
    </a>
  </div>
  <div class="header-border"></div>
</div>
<script src="assets/js/header.js"></script>
