//TODO
$color-fg: #aaaaaa;
$color-fg-l: lighten($color-fg, 10%);
$color-fg-d: darken($color-fg, 10%);
$color-bg: #222222;
$color-bg-l: lighten($color-bg, 10%);
$color-bg-d: darken($color-bg, 10%); //#090909
$color-ac: #aaaadd;
$color-ac-l: lighten($color-ac, 10%);
$color-ac-d: darken($color-ac, 10%);

// Color options
.color-fg{
  background-color: $color-fg;
}
.color-fg-l{
  background-color: $color-fg-l;
}
.color-fg-d{
  background-color: $color-fg-d;
}
.color-bg{
  background-color: $color-bg;
}
.color-bg-l{
  background-color: $color-bg-l;
}
.color-bg-d{
  background-color: $color-bg-d;
}
.color-ac{
  background-color: $color-ac;
}
.color-ac-l{
  background-color: $color-ac-l;
}
.color-ac-d{
  background-color: $color-ac-d;
}

// Shapes
.test-square{
  width: 100px;
  height: 100px
}


// mixins
@mixin headings {
  h1, h2, h3, h4, h5, h6 {
    @content;
  }
}

// General Page Formatting
html {
  font-family: Arial;
  color: $color-fg;
  background-color: $color-bg;
}

// Page Classes
.site-header{
  margin-bottom: 20px;

  .header-content{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  a{
    font-size: 20px;
    width: 33%;
  }
  %a-main{
    text-decoration: none;
    font-weight: bold;
  }
  a.current{
    @extend %a-main;
    &:link, &:visited{
      color: $color-fg-l;
    }
    &:hover{
      color: $color-fg-l;
    }
  }
  a.not-current{
    @extend %a-main;
    &:link, &:visited{
      color: $color-fg;
    }
    &:hover{
      color: $color-fg-l;
    }
  }
  a.home-link{
    text-decoration: none;
    font-size: 40px;
    margin: 10px;
    &:link, &:visited{
      color: $color-ac;
    }
    &:hover{
      color: $color-ac-l;
    }
  }

  .header-border{
    height: 5px;
    width: 100%;
    margin: 0 auto;
    background-color: $color-ac;
  }
}

.site-footer{
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  .link{
    background-color: $color-bg-l;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
  }
  a{
    display:block;
    flex-grow: 1;
    color: $color-fg;
    text-decoration: none;
  }
}

.game-jams{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  .game-embed{
    margin: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-size: 100px;
      word-break: break-word;
      
    }
    iframe{
      margin: 10px;
    }
  }
}

.data-analyses{
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  .current-feature {
    display: flex;
    justify-content: center;
  }
  .comments {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1000px;
  }
}
